# Dependencies
node_modules/
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env*

# Build output
dist/
build/
out/

# IDE and editor files
.idea/
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

